<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= lang.preferences %></title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div class="container">
    <div class="alert alert-danger" id="restart-alert"><%= lang.restartAlert %> <br><button class="btn btn-primary btm-sm"><%= lang.relaunch %></button></div>
    <div class="section" id="preferences">
    <h1 class="title"><%= lang.preferences %></h1>
        <form>
            <div class="form-group">
                <label for="language"><%= lang.language %></label>
                <select class="form-control" id="language" onchange="changeLanguage()">
                    <%
                    function capitalize(str=''){
                        return str.trim().split('')
                                .map((char,i) => i === 0 ? char.toUpperCase() : char )
                                .reduce((final,char)=> final += char, '' )
                    }

                    langList.forEach(function(language){
                    language = language.replace('.json', '');
                    %>
                    <option value="<%= language %>"><%= capitalize(language) %></option>
                    <% }) %>
                </select>
            </div>
            <hr>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" onchange="checkbox('launch-at-login', 'launchAtLogin')" id="launchAtLogin">
                <label class="form-check-label" for="launchAtLogin"><%= lang.launchatlogin %>?</label>
            </div>
            <hr>
            <label class="form-check-label"><%= lang.apptitledesc %></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" onclick="radio(this)" id="appTitleiTunes" name="appTitle" <% if(appTitle === "itunes"){%>checked<%}%> value="itunes">
                <label class="form-check-label" for="appTitleiTunes">
                    <img src="../assets/img/iTunes.png" width="30"> iTunes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" onclick="radio(this)" id="appTitleAppleMusic" name="appTitle" <% if(appTitle === "applemusic"){%>checked<%}%> value="applemusic">
                <label class="form-check-label" for="appTitleAppleMusic">
                    <img src="../assets/img/applemusic.png" width="30"> Apple Music
                </label>
            </div>

            <hr>
            <label><%= lang.layoutdesc %></label>
            <div class="form-group">
                <label for="layout-line1"><%= lang.line %> 1</label>
                <input type="text" class="form-control" id="layout-line1" placeholder="Ex: %song% by %artist%" value="<%=line1%>">
            </div>
            <div class="form-group">
                <label for="layout-line2"><%= lang.line %> 2</label>
                <input type="text" class="form-control" id="layout-line2" placeholder="Ex: 💿 : %album%" value="<%=line2%>">
            </div>
            <small><%=lang.layoutadvice%></small>
            <div class="form-group">
                <a class="btn btn-primary" href="#" onclick="changeLines()"><%= lang.apply %></a>
            </div>
        </form>
        </div>
    <div class="section" id="about">
        <h1 class="title"><%= lang.about %></h1>
        <img src="../assets/img/logo.png" width=200>
        <h3>iTunes⇄Discord <span class="badge badge-success"><%= version %></span></h3>
        <small><%= lang.madeby %> <a href="#" onclick="openLink('https://github.com/AngryKiller')">AngryKiller</a></small>
    </div>
</div>

<script src="../assets/js/app.js"></script>
<script>
    document.getElementById('launchAtLogin').checked = <%= launchAtLogin %>;
    var currentLang = "<%= currentLang %>";
    document.getElementById('language').value = currentLang;
    var appTitle = "<%= appTitle %>";
</script>

</body>
</html>
