<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <script>
        require('../assets/js/bootstrap.min.js');
    </script>
    <script>
        require('web-frame').setZoomLevelLimits(1, 1);
        const ipc = require('electron').ipcRenderer;
        ipc.send('getvalue-launch-at-login');
        ipc.send('getvalue-language');
        ipc.on('value-launch-at-login', (event, arg) => {
            document.getElementById("launchAtLogin").checked = arg;
        })
        ipc.on('value-language', (event, arg) => {
            document.getElementById('language').value = arg;
        })
        function checkbox(parameter, id){
            if(document.getElementById(id).checked) {
                ipc.send(parameter, true);
            }else{
                ipc.send(parameter, false);
            }
        }
        function changeLanguage(){
            var select = document.getElementById("language");
            var value = select.options[select.selectedIndex].value;
            var alert = document.getElementById("lang-alert");
            ipc.send("language", value);
            alert.style.display = "block";
        }
        function openLink(link){
            ipc.send("link", link);
        }
    </script>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" id="lang-alert"><%= lang.langAlert %> <br><button class="btn btn-primary btm-sm"><%= lang.relaunch %></button></div>
    <div class="section" id="preferences">
    <h1 class="title"><%= lang.preferences %></h1>
        <form>
            <div class="form-group">
                <label for="language"><%= lang.language %></label>
                <select class="form-control" id="language" onchange="changeLanguage()">
                    <%
                    function capitalize(str=''){
                        return str.trim().split('')
                                .map((char,i) => i === 0 ? char.toUpperCase() : char )
                                .reduce((final,char)=> final += char, '' )
                    }

                    langList.forEach(function(language){
                    language = language.replace('.json', '');
                    %>
                    <option value="<%= language %>"><%= capitalize(language) %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" onchange="checkbox('launch-at-login', 'launchAtLogin')" id="launchAtLogin">
                <label class="form-check-label" for="launchAtLogin"><%= lang.launchatlogin %>?</label>
            </div>
        </form>
        </div>
    <div class="section" id="about">
        <h1 class="title"><%= lang.about %></h1>
        <img src="../assets/img/logo.png" width=200>
        <h3>iTunes⇄Discord <span class="badge badge-success"><%= version %></span></h3>
        <small><%= lang.madeby %> <a href="#" onclick="openLink('https://github.com/AngryKiller')">AngryKiller</a></small>
    </div>
</div>
</div>

</body>
</html>
